
#big{
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 600px;
    width: 600px;
    border: black solid 1px;
}
.yeet{
    background-color: blue;
}
#head{
    align-content: center;
    margin: 30px;
}
.default{
    background: white;
    border: solid black 1px;
}